__pycache__

test/__pycache__
utils/__pycache__
algorithms/__pycache__

data/biogrid/BIOGRID-ORGANISM-Homo_sapiens-4.4.204.tab3.txt
data/biogrid/adjacency_matrix.npy
data/biogrid/distance_matrix.npy

data/gda/all_gene_disease_associations.tsv

data/stringdb/9606.protein.aliases.v11.5.txt
data/stringdb/9606.protein.links.full.v11.5.txt

tmp/*.*